services:
  user:
    build: 
      context: .
      dockerfile: ./user/Dockerfile
    ports:
      - "3203:3203"
    env_file:
      - ./.env
  movie:
    build: 
      context: .
      dockerfile: ./movie/Dockerfile
    ports:
      - "3200:3200"
    env_file:
      - ./.env
  schedule:
    build: 
      context: .
      dockerfile: ./schedule/Dockerfile
    ports:
      - "3202:3202"
    env_file:
      - ./.env
  booking:
    build: 
      context: .
      dockerfile: ./booking/Dockerfile
    ports:
      - "3201:3201"
    env_file:
      - ./.env
